{{!-- <div class="trip-cards">
    {{#each trip}}
    <div id="container-image-card"><img class="picture-card">{{this.pictureTrip}}/>
    </div>
    {{/each}}
    <div id="container-text-card">
        {{#each trip}}
        <h3>Travel like {{this.name}} to:</h3>
        {{/each}}
        {{#each trip}}
        <h2>{{this.destination}}</h2>
        {{/each}}
        {{#each trip}}
        <hr>
        <div class="travel-infos-card">
            <p>{{this.duration}}</p>
            <p>{{this.budget}}</p>
            <p>{{this.period}}</p>
        </div>
        {{/each}}
    </div>
</div> --}}