<header class="header-inspire">
    <h1>Get inspiration
        by our community of Travellers !</h1>
</header>
{{!-- Tag cards --}}
<main>
    <div class="container-tags">
        <h2>Filter by Country</h2>
        <div id="destination-tag" class="container-one-tag">


            <div>
                <input id="canada" data-destination="Canada" type="checkbox" class="input" name="destination">
                <label for="destination" class="label">Canada</label>
            </div>
            <div>
                <input id="united-states" data-destination="United-States" type="checkbox" class="input"
                    name="destination">
                <label for="united-states" class="label">United-States</label>
            </div>
            <div>
                <input id="mexico" data-destination="Mexico" type="checkbox" class="input" name="destination">
                <label for="mexico" class="label">Mexico</label>
            </div>
            <div id="asia-tag" class="tag-values">
                <h3>Asia</h3>
                <div>
                    <input id="japan" data-destination="Japan" type="checkbox" class="input" name="destination">
                    <label for="destination" class="label">Japan</label>
                </div>
                <div>
                    <input id="laos" data-destination="Laos" type="checkbox" class="input" name="destination">
                    <label for="destination" class="label">Laos</label>
                </div>
                <div>
                    <input data-destination="Sri Lanka" id="srilanka" type="checkbox" class="input" name="destination">
                    <label for="destination" class="label">Sri lanka</label>
                </div>
                <div>
                    <input id="thailande" data-destination="Thailande" type="checkbox" class="input" name="destination">
                    <label for="destination" class="label">Thailande</label>
                </div>
            </div>
            <div id="europe-tag" class="tag-values">
                <h3>Europe</h3>
                <div>
                    <input id="Norway" data-destination="Norway" type="checkbox" class="input" name="destination">
                    <label for="destination" class="label">Norway</label>
                    </dive <div>
                    <input id="England" data-destination="England" type="checkbox" class="input" name="destination">
                    <label for="destination" class="label">England</label>
                </div>
                <div>
                    <input id="denmark" data-destination="Denmark" type="checkbox" class="input" name="destination">
                    <label for="destination" class="label">Denmark</label>
                </div>
                <div>
                    <input data-destination="Russia" id="russia" type="checkbox" class="input" name="destination">
                    <label for="destination" class="label">Russia</label>
                </div>
            </div>
            <div id="africa-tag" class="tag-values">
                <h3>Africa</h3>
                <div>
                    <input id="maroc" data-destination="Morocco" type="checkbox" class="input" name="destination">
                    <label for="destination" class="label">Morocco</label>
                </div>
                <div>
                    <input id="tunisie" data-destination="Tunisia" type="checkbox" class="input" name="destination">
                    <label for="destination" class="label">Tunisia</label>
                </div>
                <div>
                    <input id="senegal" data-destination="Senegal" type="checkbox" class="input" name="destination">
                    <label for="destination" class="label">Senegal</label>
                </div>
                <div>
                    <input id="southafrica" data-destination="South Africa" type="checkbox" class="input"
                        name="destination">
                    <label for="destination" class="label">South Africa</label>
                </div>
            </div>
        </div>
        <h2>Filter by Period</h2>
        <div id="period-tag" class="container-one-tag">
            <div>
                <input id="period" data-period="Jan-Mar" type="checkbox" class="input" name="period">
                <label for="period" class="label">Janv-Mar</label>
            </div>
            <div>
                <input id="period" data-period="Apr-Jun" type="checkbox" class="input" name="period">
                <label for="period" class="label">Apr-Jun</label>
            </div>
            <div>
                <input id="period" data-period="Jul-Sep" type="checkbox" class="input" name="period">
                <label for="period" class="label">Jul-Sept</label>
            </div>
            <div>
                <input id="period" data-period="Oct-Dec" type="checkbox" class="input" name="period">
                <label for="period" class="label">Oct-Dec</label>
            </div>
        </div>
        <h2>Filter by Duration</h2>
        <div id="duration-tag" class="container-one-tag">
            <div>
                <input id="duration" data-duration="week-end" type="checkbox" class="input" name="duration">
                <label for="period" class="label">Week-end</label>
            </div>
            <div>
                <input id="period" data-duration="1 week" type="checkbox" class="input" name="duration">
                <label for="duration" class="label">1 week</label>
            </div>
            <div>
                <input id="duration" data-duration="2 weeks" type="checkbox" class="input" name="duration">
                <label for="duration" class="label">2 weeks</label>
            </div>
            <div>
                <input id="duration" data-duration=">2 weeks" type="checkbox" class="input" name="duration">
                <label for="duration" class="label">> 2 weeks</label>
            </div>
        </div>
        <h2>Filter by Budget per day</h2>
        <div id="budget-tag" class="container-one-tag">
            <div>
                <input id="budget" data-budget="0-500€" type="checkbox" class="input" name="budget">
                <label for="period" class="label">0€-500€</label>
            </div>
            <div>
                <input id="period" data-budget="500-1000€" type="checkbox" class="input" name="budget">
                <label for="budget" class="label">500€-1000€</label>
            </div>
            <div>
                <input id="budget" data-budget=">1000€" type="checkbox" class="input" name="budget">
                <label for="budget" class="label">> 1000€</label>
            </div>
        </div>
        <h2>Filter by Thematic</h2>
        <div id="thematic-tag" class="container-one-tag">
            <div>
                <input id="thematic" data-thematics="bagpacker" type="checkbox" class="input" name="thematics">
                <label for="period" class="label">Bagpacker</label>
            </div>
            <div>
                <input id="period" data-thematics="luxury" type="checkbox" class="input" name="thematics">
                <label for="thematics" class="label">Luxury</label>
            </div>
            <div>
                <input id="thematics" data-thematics="nature" type="checkbox" class="input" name="thematics">
                <label for="thematics" class="label">Nature</label>
            </div>
            <div>
                <input id="thematics" data-thematics="all-inclusive" type="checkbox" class="input" name="thematics">
                <label for="thematics" class="label">All-inclusive</label>
            </div>
            <div>
                <input id="thematics" data-thematics="foodlover" type="checkbox" class="input" name="thematics">
                <label for="period" class="label">Food Lover</label>
            </div>
            <div>
                <input id="thematics" type="checkbox" data-thematics="sportive" class="input" name="thematics">
                <label for="thematics" class="label">Sportive</label>
            </div>
            <div>
                <input id="thematics" type="checkbox" data-thematics="culture" class="input" name="thematics">
                <label for="thematics" class="label">Culture</label>
            </div>
        </div>
    </div>
    {{!-- Trip cards --}}
    {{> trip_card}}
    {{!-- <div class="container-all-trip-cards">
        {{#each trip}}
        <div class="trip-cards">
            <div id="picture-card">
                <i data-id="{{this._id}}" class="clicked-heart" class="fas fa-heart"></i>
                <img src="{{this.pictureTrip}}" />
            </div>
            <div id="container-text-card">
                <!-- Favorite button HTML copied from generated WP Plugin HTML -->
                <img class="user-picture" src="{{this.user.userpicture}}">
                <h2>{{this.destination}}</h2>
                <h3>Get Inspired by {{this.user.name}}</h3>
                <div id="tags-card-trip">
                    <em>Trip mood:</em>
                    {{#each this.thematics}}
                    <span>{{this}},</span>
                    {{/each}}
                </div>
                <div class="travel-infos-card">
                    <span>{{this.duration}}</span>
                    <span>{{this.budget}}</span>
                    <span>{{this.period}}</span>
                </div>
            </div>
        </div>

        {{/each}}
    </div> --}}
</main>