<header class="header-inspire">
    <h1>Get inspiration
        by our community of Travellers !</h1>
</header>
{{!-- Tag cards --}}
<main>
    <div class="container-tags">
        <h2>Filter by Country</h2>
        <div id="destination-tag" class="container-one-tag">
            <h3>America</h3>
            <div>
                <input id="canada" type="checkbox" class="input" name="destination">
                <label for="destination" class="label">Canada</label>
            </div>
            <div>
                <input id="etats-unis" type="checkbox" class="input" name="destination">
                <label for="etats-unis" class="label">Etats-unis</label>
            </div>
            <div>
                <input id="mexique" type="checkbox" class="input" name="destination">
                <label for="mexique" class="label">Mexique</label>
            </div>
            <div id="asia-tag" class="tag-values">
                <h3>Asia</h3>
                <div>
                    <input id="japon" type="checkbox" class="input" name="destination">
                    <label for="destination" class="label">Japon</label>
                </div>
                <div>
                    <input id="laos" type="checkbox" class="input" name="destination">
                    <label for="destination" class="label">Laos</label>
                </div>
                <div>
                    <input id="srilanka" type="checkbox" class="input" name="destination">
                    <label for="destination" class="label">Srilanka</label>
                </div>
                <div>
                    <input id="thailande" type="checkbox" class="input" name="destination">
                    <label for="destination" class="label">Thailande</label>
                </div>
            </div>
            <div id="europe-tag" class="tag-values">
                <h3>Europe</h3>
                <div>
                    <input id="norway" type="checkbox" class="input" name="destination">
                    <label for="destination" class="label">Norway</label>
                </div>
                <div>
                    <input id="england" type="checkbox" class="input" name="destination">
                    <label for="destination" class="label">England</label>
                </div>
                <div>
                    <input id="denmark" type="checkbox" class="input" name="destination">
                    <label for="destination" class="label">Denmark</label>
                </div>
                <div>
                    <input id="russia" type="checkbox" class="input" name="destination">
                    <label for="destination" class="label">Russia</label>
                </div>
            </div>
            <div id="africa-tag" class="tag-values">
                <h3>Africa</h3>
                <div>
                    <input id="maroc" type="checkbox" class="input" name="destination">
                    <label for="destination" class="label">Maroc</label>
                </div>
                <div>
                    <input id="tunisie" type="checkbox" class="input" name="destination">
                    <label for="destination" class="label">Tunisie</label>
                </div>
                <div>
                    <input id="senegal" type="checkbox" class="input" name="destination">
                    <label for="destination" class="label">Senegal</label>
                </div>
                <div>
                    <input id="afriquedusud" type="checkbox" class="input" name="destination">
                    <label for="destination" class="label">Afrique du Sud</label>
                </div>
            </div>
        </div>
        <h2>Filter by Period</h2>
        <div id="period-tag" class="container-one-tag">
            <div>
                <input id="period" type="checkbox" class="input" name="period">
                <label for="period" class="label">Janv-Mar</label>
            </div>
            <div>
                <input id="period" type="checkbox" class="input" name="period">
                <label for="period" class="label">Apr-Jun</label>
            </div>
            <div>
                <input id="period" type="checkbox" class="input" name="period">
                <label for="period" class="label">Jul-Sept</label>
            </div>
            <div>
                <input id="period" type="checkbox" class="input" name="period">
                <label for="period" class="label">Oct-Dec</label>
            </div>
        </div>
        <h2>Filter by Duration</h2>
        <div id="duration-tag" class="container-one-tag">
            <div>
                <input id="duration" type="checkbox" class="input" name="duration">
                <label for="period" class="label">Week-end</label>
            </div>
            <div>
                <input id="period" type="checkbox" class="input" name="duration">
                <label for="duration" class="label">1 week</label>
            </div>
            <div>
                <input id="duration" type="checkbox" class="input" name="duration">
                <label for="duration" class="label">2 weeks</label>
            </div>
            <div>
                <input id="duration" type="checkbox" class="input" name="duration">
                <label for="duration" class="label">> 2 weeks</label>
            </div>
        </div>
        <h2>Filter by Budget per day</h2>
        <div id="budget-tag" class="container-one-tag">
            <div>
                <input id="budget" type="checkbox" class="input" name="budget">
                <label for="period" class="label">0€-500€</label>
            </div>
            <div>
                <input id="period" type="checkbox" class="input" name="budget">
                <label for="budget" class="label">500€-1000€</label>
            </div>
            <div>
                <input id="budget" type="checkbox" class="input" name="budget">
                <label for="budget" class="label">> 1000€</label>
            </div>
            <div>
                <input id="budget" type="checkbox" class="input" name="budget">
                <label for="budget" class="label">> 2 weeks</label>
            </div>
        </div>
        <h2>Filter by Thematic</h2>
        <div id="thematic-tag" class="container-one-tag">
            <div>
                <input id="thematic" type="checkbox" class="input" name="thematics">
                <label for="period" class="label">Bagpacker</label>
            </div>
            <div>
                <input id="period" type="checkbox" class="input" name="thematics">
                <label for="thematics" class="label">Luxury</label>
            </div>
            <div>
                <input id="thematics" type="checkbox" class="input" name="thematics">
                <label for="thematics" class="label">Nature</label>
            </div>
            <div>
                <input id="thematics" type="checkbox" class="input" name="thematics">
                <label for="thematics" class="label">All-inclusive</label>
            </div>
            <div>
                <input id="thematics" type="checkbox" class="input" name="thematics">
                <label for="period" class="label">Food Lover</label>
            </div>
            <div>
                <input id="period" type="checkbox" class="input" name="thematics">
                <label for="thematics" class="label">Culture</label>
            </div>
        </div>
    </div>
    {{!-- Trip cards --}}
    <div class="container-all-trip-cards">
        {{#each trip}}
        <div class="trip-cards">
            <div id="picture-card">
                <img src="{{this.pictureTrip}}" />
            </div>
            <div id="container-text-card">
                <!-- Favorite button HTML copied from generated WP Plugin HTML -->
                <h2>{{this.destination}}</h2>
                <h3>Get Inspired by{{this.user.name}}</h3>
                <div id="tags-card-trip">
                    <i>Trip mood:</i>
                    {{#each this.thematics}}
                    <span>{{this}},</span>
                    {{/each}}
                </div>
                <div class="travel-infos-card">
                    <span>{{this.duration}}</span>
                    <span>{{this.budget}}</span>
                    <span>{{this.period}}</span>
                </div>
            </div>
            {{!-- <div id="favourite">Add to favourite<span id="heart"></span></div> --}}
        </div>

        {{/each}}
    </div>
</main>